
quiz/__pycache__/subjects.cpython-38.pyc
quiz/__pycache__/__init__.cpython-38.pyc
providers/__pycache__/myssql_db.cpython-38.pyc
providers/__pycache__/cloud_handler.cpython-38.pyc
providers/__pycache__/__init__.cpython-38.pyc
common/__pycache__/config.cpython-38.pyc
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/flask_microservice.iml
